<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed">
  <div class="container">
    <a class="navbar-brand" href="#"><img style="height:50px;" src="https://www.freelogoservices.com/api/main/images/1j+ojVVCOMkX9Wyrexe4hGfYjJyb3ksQzwiR1TN9Nmkd+AtkmSEkgPJt8Ot+dERBpAQGghEMdcI+iiN6VA==">A2Z Blog</a>
    <button onclick="if(document.getElementById('navbarResponsive').className!='navbar-collapse collapse show'){document.getElementById('navbarResponsive').className='navbar-collapse collapse show';}else{document.getElementById('navbarResponsive').className='collapse navbar-collapse';}" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" style="font-size:20px;">
          <a class="nav-link active" href="/home">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item" style="font-size:20px;">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item" style="font-size:20px;">
          <a class="nav-link" href="/register">Register</a>
        </li>
        <div *ngIf="login_status==false">
        <li class="nav-item" style="font-size:20px;">
          <a class="nav-link" href="/login">Login</a>
        </li>
        </div>
        <div *ngIf="login_status==true">
          <li class="nav-item" style="font-size:20px;">
            <a style="color:#42f450;" class="nav-link active" href="/login">{{name}}</a>
          </li>
        </div>
          
        
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container">

  <div class="row">
      <div class="col-md-8">
            
      </div>
      <div class="col-md-4">
          <div class="card my-4">
              <h5 class="card-header">Search</h5>
              <div class="card-body">
                <div class="row">
                <div class="input-group">
                  <div class="col-md-8">
                    <input type="text" [formControl]="useremail" class="form-control" placeholder="Search for users..." (input)="fetchuser()">         
                  </div>
                  <div class="col-md-4">
                      <span class="input-group-btn">
                          <button class="btn btn-secondary" type="button" (click)="finduser()">Go!</button>
                      </span>
                  </div>
                </div>
              </div>
              <div>
                <ul  style="margin-top:16px;max-height:180px;overflow:auto;list-style:none;padding-left:0px;">                  
                    <div class="col-md-8">
                        <div *ngFor="let user of users; let i=index">
                              <div *ngIf="selected==i">
                                  <li style="background-color:#343A40;"><a style="color:white" href="/home/{{user._id}}">{{user.email}}</a></li>
                              </div>
                              <div *ngIf="selected!=i">
                                  <li><a href="/home/{{user._id}}">{{user.email}}</a></li>
                              </div>    
                        </div>
                    </div>
                </ul>
              </div>
            </div>
      </div>

  </div>
  <!-- /.row -->

</div>

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark fixed-bottom">
   <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
   </div>
  <!-- /.container -->
</footer>
