<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed">
      <div class="container">
        <a class="navbar-brand" href="#">{{user.name}}'s Blog</a>
        <button onclick="if(document.getElementById('navbarResponsive').className!='navbar-collapse collapse show'){document.getElementById('navbarResponsive').className='navbar-collapse collapse show';}else{document.getElementById('navbarResponsive').className='collapse navbar-collapse';}" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home/{{user._id}}">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/about/{{user._id}}">About</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-7">

          <!-- Blog Post -->
          <div class="card my-4">
            <img  style="height:400px;" class="card-img-top" src="../../assets/uploads/profile{{user._id}}.jpeg" alt="Card image cap">
            <div class="card-body">
                  <b>Name: </b>{{user.name}}<br>
                  <b>Email: </b>{{user.email}}<br>
                  <b>Phone: </b>{{user.phone}}<br>
            </div>
            <div class="card-footer text-muted">
              Posted on  by
              <a href="#"></a>
            </div>
          </div>
          
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Projects</h5>
            <div class="card-body">
              
            </div>
          </div>

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">links</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a id="" href=""  ></a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0" >
                    <li >
                      <a id="" href=""  ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Skills</h5>
            <div class="card-body">
              
            </div>
          </div>
          <!-- Achievements -->
          <div class="card my-4">
            <h5 class="card-header">Achievements</h5>
            <div class="card-body">
              
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container1">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>